-
	var jobs = [
		 	   {
			'comp': 'Weblime',
			'position': 'Старший разработчик',
			'period': '2015-по настоящее время',
			'mark': '2016'		
				},

				{
			'comp': 'Weblime',
			'position': 'Средний разработчик',
			'period': '2013 - 2015',
			'mark': '2015'			
				},

				{
			'comp': 'Weblime',
			'position': 'Младший разработчик',
			'period': '2012 - 2013',
			'mark': '2013'				
				},

				{
			'comp': 'Weblime',
			'position': 'Стажер',
			'period': '2011 - 2012',
			'mark': '2012'			
				},
	
	];

	var cssFile = 'css/career.css';
	var title = 'Карьера';


html
	include ./includes/head.jade

body
	.wrapper
		include ./includes/header.jade

		.container
			main.content
				h1.main_header Карьерный путь
				img(src='images/night_city.jpg', alt='night city').main_img

				ul.career
					-each job in jobs
						li(class='career_#{job.mark}') 
							.job_comp <b><q>#{job.comp}</q></b> 
							.job_position #{job.position}
								.job_mark #{job.mark}
								.job_button
							.job_period #{job.period}


			include ./includes/sidebar.jade
	.empty

	include ./includes/footer.jade	
