-
	var projects = {
		'deals': {
			'img': 'images/dealsApp_404x316.jpg',
			'head': 'Deals App',
			'desc': 'Продажа одежды',
			'type': 'app'		
				},

		'dreams': {
			'img': 'images/dreamScapes_404x316.jpg',
			'head': 'Dream-scapes',
			'desc': 'Лагуна Люфтганза',
			'type': 'land'		
				},

		'creative': {
			'img': 'images/creativeStudio_404x316.jpg',
			'head': 'Creative studio',
			'desc': 'Танцевальная студия',
			'type': 'site'		
				},

		'frog': {
			'img': 'images/studioFrog_404x316.jpg',
			'head': 'Studio Frog',
			'desc': 'Мебельный салон',
			'type': 'land'		
				},
				
		'carbon': {
			'img': 'images/carbonara_220x172.jpg',
			'head': 'Carbonara',
			'desc': 'Итальянский ресторан',
			'type': 'land'		
				},		

	};

	var cssFile = "css/portfolio.css";
	var title = 'Портфолио';


html
	include ./includes/head.jade

body
	.wrapper
		include ./includes/header.jade

		.container
			main.content
				h1.main_header Портфолио
				ul.portfolio
					-each project, key in projects
						li(class='portfolio_#{key}')
							img(src=project.img, alt=project.head)
							h4 #{project.head}
							p #{project.desc}
							if project.type == 'land' 
								div.icon_desktop Лендинг
							else if (project.type == 'site')
								div.icon_desktop Корпоративный сайт	
							else if (project.type == 'app')
								div.icon_mobile Приложение	


			include ./includes/sidebar.jade
	.empty

	include ./includes/footer.jade	


